.loginTab{
    display: flex;
    flex-direction: column;
    margin: 10rem 25rem ;
    padding: 1em;
    background-color: rgb(202, 198, 198);
    border-radius: 2em;
}

.loginBtn{
    border-radius: 1em;
    background-color: rgb(45, 204, 45);
    border: none;
    margin: 1em 17em;
    width: 10rem;
    padding: 0.3rem;
}

input{
    margin: 0.2rem 0 0.2rem 10rem;
    width: 18rem;
    height: 2em;
    border: none;
    border-radius: 1rem;
}
