.delete-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.delete-confirm-btn-div{
  display: flex;
  /* flex-direction: row; */
}

#show{
  /* visibility: visible; */
  display: flex;
}

#hide{
  /* visibility: hidden; */
  display: none;
}

.fetch-account-input-to-delete{
  width: 20rem;
  height: auto;
  text-indent: .5rem;
  /* padding: 1rem; */
}

.delete-confirmation-div{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: .5rem;
  padding: 2rem;
}

.delete-confirmation-yes-no-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}